<!DOCTYPE html>
<html>
  <head>
    <title>
      My Careers
    </title>
    <style>
      h1{
        font-size:40px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(100, 100, 100);
        text-align: center;
      }
      #banner{
        width:
      }
    </style>
  </head>
  <body>
    Hello there, you'll learn about job openings at My Careers here.
  </body>
  <h1>
    My Careers</h1>
  <img id="banner" src="https://0d808507-1117-4122-be56-d28db4e26958-00-1qjo2ev2rurrz.janeway.replit.dev/static/bannerr.jpg"height="320">
  <h2>About My Careers</h2>
  
</html>